<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app" >
        <div >
            <!-- vue 表单应用:  -->
            <!-- 1. 通过ajax可以不使用name属性就可以提交, v-model相同的可以看为一组-->
            篮球 :<input type="checkbox" value="001" v-model="hobby">
            足球 :<input type="checkbox" value="002" v-model="hobby">
            排球 :<input type="checkbox" value="003" v-model="hobby">
            铅球 :<input type="checkbox" value="004" v-model="hobby">
            <!-- 
                2. 表单中的值一般都为string类型,如果需要通过v-model同步到model数据中
                的数据类型为可计算的number类型,可以使用.number修饰符,     
            -->
            <!-- <input type="text" v-model="txt" @keyup.enter="myclick1"> -->
            <!-- 没有使用.number修饰获取的数据为string类型 -->
            <!-- 使用.number修饰符强制转换为number类型 -->
            <input type="text" v-model.number="txt" @keyup.enter="myclick1"> 

            <hr>
            <!-- 下拉列表的value值 是该下拉列表中option中的value值, 一般把v-model绑定给select -->
            <select v-model="options">
                <option disabled style="display:none" value="">请选择</option>
                <option value="001" >1</option>
                <option value="002" >2</option>
                <option value="003" >3</option>
            </select>
            <form action="https://www.baidu.com" method="GET">
            
                <select name="select" id="se">
                    <option disabled selected >请选择</option> <!-- 如果默认选择项提交,不会提交数据即url?后啥都没有 -->
                    <option value="001" >1</option>
                    <option value="002" >2</option>
                    <option value="003" >3</option>
                </select>
                <input type="submit" value="提交">
            </form>

        </div>
    </div>
    <script src="../vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                hobby:[],
                txt:0,
                options:''
            },
            methods:{
                myclick(){
                    console.log(this.hobby);
                },
                myclick1(){
                    console.log(this.txt+'  '+ typeof this.txt);
                }
            }
        });
    </script>
</body>
</html>