<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="n1">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2">
        <button value="=" @click="cal()">=</button>
        <input type="text" v-bind:value="result">
    </div>
        
        <script>
        var vm = new Vue({
            el:'#app',
            data:{
                n1:0,
                n2:0,
                opt:'+',
                result:0
            },
            methods:{
                cal(){
                    var str = 'parseFloat(this.n1)'+this.opt+'parseFloat(this.n2)'

                    this.result = eval(str);
                    
                }
            }
        });
    </script>

</body>
</html>