<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 遍历数组 -->
        <!-- <p v-for="(item,index) in list">{{item}}----{{index}}</p> -->
        <!-- 遍历数组对象 -->
        <!-- <p v-for="(user,index) in list1">{{user.name}}---{{user.age}}---{{index}}</p> -->
        <!-- 遍历对象(值,键,索引) -->
        <!-- <p v-for="(val,key,index) in list3">{{key}}:{{val}}---{{index}}</p> -->
        <!-- 遍历数字 数字的值从1开始,下标从0开始 (值,下标) in 数字 -->
        <!-- <p v-for="(count,index) in 10 ">{{count}}---{{index}}</p> -->
    </div>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                list:[1,2,3,4,5,6],
                list1:[{
                    name:'zhangsan',
                    age:18
                },{
                    name:'lisi',
                    age:19
                },{
                    name:'tony',
                    age:20
                }],
                list3:{
                    name:'托尼.屎大颗',
                    age:33,
                    gender:'男',
                    salary:'50000'
                }
            },
            methods:{
                
            }
        });
    </script>
</body>
</html>