<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>

    <!-- 使用key能确保数组中数据的唯一性,例: 如果使用v-for遍历数组的时候,向数组的前面添加了一个元素,
        如果第i个身上绑定了数据,那么在前面添加了一个元素之后,
        该身上的数据会按照索引绑定到前面的一个身上,使用key确定他的唯一性可以解决该问题
        
        ==> 注意: key的值只能是number和string类型;
    -->
    <div id="app">
        <label for="id" v-model="id">id</label>
        <input type="text" id="id" v-model="id">
        <label for="name">name</label>
        <input type="text" id="name" v-model="name">
        <button @click="add" >添加</button>
        
        <!-- in和of是一样的 -->
        <div v-for="item in arr" :key="item.id"><input type="checkbox">{{item.id}}---{{item.name}}</div>

    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{ 
                id:'',
                name:'',
                arr:[
                    {
                        id:1,
                        name:'嬴政'
                    },{
                        id:2,
                        name:'赵高'
                    },{
                        id:3,
                        name:'荀子'
                    },{
                        id:4,
                        name:'李斯'
                    },{
                        id:5,
                        name:'虞姬'
                    }
                ]
            },
            methods:{
                add(){
                    this.arr.unshift({
                        id:this.id,
                        name:this.name
                    })
                }
            }
        });
    </script>
</body>
</html>